# stripe keys
STRIPE_KEY_SECRET=my_stripe_key
STRIPE_WEBHOOK_SECRET=my_webhook_secret
# cloudinary keys
CLOUDINARY_CLOUD_NAME=my_cloudinary_cloud_name
CLOUDINARY_API_KEY=my_cloudinary_api_key
CLOUDINARY_API_SECRET=my_cloudinary_secret
# ngrok Token
USER_NGROK_TOKEN=my_ngrok_token